@font-face {
    font-family: 'Mister Brush';
    src: url('fonts/MisterBrush.ttf') format('truetype');
}


html {
  font-size: 16px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: 'Bruno Ace SC', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}



h1 {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  width: 550px; /* Увеличьте значение ширины блока на ваше усмотрение */
  max-width: 730px;
  height: 95px;
  font-size: 65px;
  color: #fe2b0d;
}

h1:first-of-type {
  animation: showup 7s infinite;
}

h1:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

h1:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:1000px;}
    80% {opacity:1;}
    100% {opacity:0;width:12000px;}
}

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  z-index: 999;
}


.header {
  padding: 25em;
  background-image: url(https://i.imgur.com/iuMxwZil.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.clear {
  clear: both;
}

.slide-toggle {
  display: none;
}

.slidemenu {
  font-family: arial, sans-serif;
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.slidemenu label {
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  color: #333;
  opacity: 0.5;
  padding: 5px;
}



.slidemenu label:hover {
  cursor: pointer;
  color: #666;
}

.slidemenu label a {
  display: block;
  padding: 10px;
  color: white;
}


.slidemenu label .icon {
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50px;
}

.slidemenu label, .slider {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2em;
  height: 100vh;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 40px;
    border: 3px solid black;
    width: 80%;
    max-width: 700px;
}


.modal_p {
    font-size: 25px;
    font-family: 'Mister Brush', cursive;
    margin-bottom: 20px; 
}

.modal_form {
    color: white;
    font-size: 22px;
    font-family: 'Mister Brush', cursive;
    background-color: black;
    display: inline-block;
    width: 30%;
    border-radius: 5%;
    margin-top: -10px;
}


.modal_social {
  font-size: 35px;
}

.beats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px; /* Расстояние между элементами */
}

.image-container {
  position: relative;
  text-align: center;
}

.image-info-container {
  display: flex;
  align-items: center;
}


.image-container img {
  width: 150px;
  height: 150px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 5%;
}

.beats .image-info-container .image-container .bi {
  position: absolute;
  font-size: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
}

.info {
  font-size: 20px;
  margin-top: -20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info p {
  align-self: flex-start;
  margin: 0;
  margin-top: -20px;
}


.buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #fe2b0d;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5%;
  font-size: 17px;
}

.button-text {
  margin-right: 5px; / Установите отступ между иконкой и текстом по вашему усмотрению /
}


.price {
  background-color: black;
  padding: 10em;
  height: 170vh;
}

.image-block {
  margin-left: 500px;
}

.image-item {
  text-align: center;
  margin: 50px auto;
  max-width: 800px
}

.image-item .first {
  margin-left: -600px;
  margin-top: -100px;
}

.image-item .two {
  margin-right: -100px;
}

.image-item .three {
  margin-left: -600px;
}

.image-item img {
  width: 350px;
  height: 350px;
}

.image-item p {
  margin-top: 5px;
  color: white;
}

.image-item .price-item {
  color: #f79300;
}

.text-block {
  text-align: center; /* Центрирование текста */
  margin-top: 10px; /* Отступ сверху */
}

.text-block p {
  font-size: 16px; /* Размер текста */
  color: white;
}

.text-block ul {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступ у списка */
}

.text-block li {
  margin: 5px 0; /* Отступы между пунктами списка */
  color: white;
} 

.down_player {
  justify-content: center; /* Центрируем элементы по горизонтали */
  display: flex;
  position: sticky;
  bottom: 0;
  height: 70px;
  align-items: center;
  z-index: 999999;
  box-shadow: 0 2px 12px purple;
}

/*.hidden {
    display: none;
}
*/

.down_player .wave {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
}

.down_player .wave .wave1 {
  width: 9px;
  height: 30px;
  margin-right: 9px;
  border-radius: 30px 30px 0px 0px;
  background: purple;
  animation: unset;
}

.down_player .wave .wave1:nth-child(2) {
  height: 39px;
 /* animation-delay: .4s;*/
}

.down_player .wave .wave1:nth-child(3) {
  height: 24px;
  /*animation-delay: .8s;*/
}

/* javascript class wave */
.down_player .active2 .wave1 {
  animation: wave .5s linear infinite;
}

.down_player .active2 .wave1:nth-child(2) {
  animation-delay: .4s;
}

.down_player .active2 .wave1:nth-child(3) {
  animation-delay: .8s;
}

@keyframes wave {
  0%{
    height: 30px;
  }
  50%{
    height: 45px;
  }
  100%{
    height: 30px;
  }
}

.down_player img {
  width: 60px;
  height: 60px;
}

.down_player h2 { 
  font-size: 30px;
  margin-left: 5px;
  color: purple;
}

.down_player .icon {
  font-size: 30px;
  color: #fe2b0d;
  margin: 3px 20px 0px 35px;
}

.down_player .icon .bi {
  cursor: pointer;
  outline: none;
  color: #fe2b0d;
}

.down_player .icon .bi:nth-child(2){
  padding: 1px 3px 0px 6px;
  transition: .3s linear;
  color: #fe2b0d;
}

.down_player span {
  color: #fe2b0d;
  width: 60px;
  font-size: 20px;
  font-weight: 400;
}

.down_player #currentStart {
  margin: 0px 0px 0px 10px;
}

.down_player .bar {
  position: relative;
  width: 30%;
  height: 5px;
  background: #fe2b0d;
  margin: 0px 15px 0px 10px;
}

.down_player .bar .bar2 {
  position: absolute;
  background: purple;
  width: 0%;
  height: 100%;
  top: 0;
  transition: 1s linear;
}

.down_player .bar .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: purple;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;
}

.down_player .bar .dot::before {
    content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid purple;
  border-radius: 50%;
  left: -6px;
  top: -2.3px;
  box-shadow: inset 0px 110px 3px purple;
}

.down_player .bar .input {
  position: absolute;
  width: 100%;
  top: -6px;
  left: 0;
  cursor: pointer;
  z-index: 99999999;
  transition: 3s linear;
  opacity: 0;
}

.down_player .vol {
  position: relative;
  width: 100px;
  height: 5px;
  margin-left: 50px;
  background: #fe2b0d;
  border-radius: 5%;
}

.down_player .vol .bi {
  position: absolute;
  color: #fe2b0d;
  font-size: 25px;
  top: -13px;
  left: -30px;
}

.down_player .vol .input {
  position: absolute;
  width: 100%;
  top: -6px;
  left: 0;
  cursor: pointer;
  z-index: 99999999;
  transition: 3s linear;
  opacity: 0;
}

.down_player .vol .vol_bar {
  position: absolute;
  background: purple;
  width: 0%;
  height: 100%;
  top: 0;
  transition: 1s linear;
}

.down_player .vol .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: purple;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;
}

.down_player .vol .dot::before {
    content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid purple;
  border-radius: 50%;
  left: -6px;
  top: -2.3px;
  box-shadow: inset 0px 110px 3px purple;
}

.footer {
  background-color: red;
  padding: 1.2em;
  text-align: center;
  max-height: 25px;
}

.copy-text {
  color: white;
  text-decoration:none;
}

.social {
  width: 100%;
  max-width: 200px;
  font-size: 20px;
  position: relative;
  top: -20px;
  left: 78%;
  transform: translate(78%);
}


.bi {
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}


@media screen and (max-width: 1170px) {
  .logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 150px;
    z-index: 999;
  }
  h1 {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    width: 350px; /* Увеличьте значение ширины блока на ваше усмотрение */
    max-width: 730px;
    height: 40px;
    font-size: 35px;
    color: #fe2b0d;
  }
  .header {
    padding: 1em;
    height: 90vh;
    background-image: url(https://i.imgur.com/iuMxwZil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  h1:last-of-type span {
    margin-left:-155px;
    animation: slidein 7s infinite;
  }

  @keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
  }

  @keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
  }

  @keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:1000px;}
    80% {opacity:1;}
    100% {opacity:0;width:12000px;}
  }
  .slidemenu {
    font-family: arial, sans-serif;
    max-width: 440px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 40px;
    right: 100px;
    z-index: 999;
  }
  .slidemenu label {
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    color: #333;
    opacity: 0.5;
    padding: 10px;
  }
  .slidemenu label .icon {
    font-size: 60px;
    border: solid 3px #333;
    text-align: center;
    width: 105px;
    height: 65px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50px;
  }
  .slidemenu label a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 25px;
  }
  .social {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1em;
    height: 45vh;
  }
  .beats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; /* Расстояние между элементами */
  }
  .info {
    font-size: 16px;
    margin-top: -20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .price {
    background-color: black;
    padding: 10em;
    height: 145vh;
  }
  .image-item .first {
    margin-left: -300%;
  }
  .image-item .two {
    margin-left: -350%;
  }
  .image-item .three {
    margin-left: -300%;
  }
  .image-item img {
    width: 450px;
    height: 450px;
  }
  .text-block p {
    font-size: 26px; /* Размер текста */
    color: white;
  }
  .image-item p {
    margin-top: 5px;
    color: white;
    font-size: 30px;
  }
  .text-block li {
    margin: 5px 0; /* Отступы между пунктами списка */
    color: white;
    font-size: 30px;
  } 
  .down_player {
    justify-content: center; /* Центрируем элементы по горизонтали */
    display: flex;
    position: sticky;
    bottom: 0;
    height: 130px;
    align-items: center;
    z-index: 999999;
    box-shadow: 0 4px 22px purple;
  }
  .down_player .wave {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    display: none;
  }
  .down_player img {
    width: 95px;
    height: 95px;
    display: none;
  }
  .down_player h2 { 
    font-size: 40px;
    margin-left: 5px;
    color: purple;
    display: none;
  }
  .down_player .icon {
    font-size: 50px;
    color: #fe2b0d;
    margin: 3px 15px 0px 0px;
  }
  .down_player span {
    color: #fe2b0d;
    width: 75px;
    font-size: 25px;
    font-weight: 310;
  }
  .down_player #currentStart {
    margin: 0px 0px 0px 0px;
  }
  .down_player .bar {
    position: relative;
    width: 55%;
    height: 10px;
    background: #fe2b0d;
    margin: 0px 15px 0px 10px;
  }
  .down_player .vol {
    position: relative;
    width: 100px;
    height: 5px;
    margin-left: 50px;
    background: #fe2b0d;
    border-radius: 5%;
    display: none;
  }
  .footer {
    background-color: red;
    padding: 3.5em;
    text-align: center;
    font-size: 30px;
  }

  .copy-text {
    color: white;
    text-decoration:none;
  }

  .social {
    width: 100%;
    max-width: 500px;
    font-size: 50px;
    position: relative;
    top: -150px;
  }
}


