html {
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: Vollkorn: здесь должно быть имя шрифта из Google fonts
}

.logo {
  width: 100px;
  height: 100px;
  float: left;
}

.header {
  background-color: black;
  padding: 500px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
  float: right;
}

.main {
  background-color: blue;
  padding: 700px;
}

.footer {
  background-color: red;
  padding: 100px;
}