html {
  font-size: 16px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: 'Bruno Ace SC', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}



h1 {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  width: 550px; /* Увеличьте значение ширины блока на ваше усмотрение */
  max-width: 730px;
  height: 95px;
  font-size: 65px;
  color: #fe2b0d;
}

h1:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}

h1:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

h1:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:1000px;}
    80% {opacity:1;}
    100% {opacity:0;width:12000px;}
}

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
}


.header {
  padding: 18em;
  background-image: url(https://imgbly.com/ib/JnvKt9TXq2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.clear {
  clear: both;
}

.slide-toggle {
  display: none;
}

.slidemenu {
  font-family: arial, sans-serif;
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.slidemenu label {
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  color: #333;
  opacity: 0.5;
  padding: 5px;
}

.slidemenu label:hover {
  cursor: pointer;
  color: #666;
}

.slidemenu label a {
  display: block;
  padding: 10px;
  color: white;
}

.slidemenu label .icon {
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50px;
}

.slidemenu label, .slider {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}



/* Медиа-запрос для планшетов с шириной экрана от 768px до 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: 3em; /* Оптимальное значение паддинга для планшетов */
  }
}

/* Медиа-запрос для устройств с шириной экрана меньше 768px (например, мобильные телефоны) */
@media screen and (max-width: 768px) {
  .header {
    padding: 1em; /* Оптимальное значение паддинга для мобильных устройств */
  }
}


.main {
  background-color: white;
  padding: 2em;
  height: 100vh;
}

.musicplayer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  text-align: center;
}

.image-container img {
  width: 150px;
  height: 150px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 5%;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: #fe2b0d;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}


.bi-pause-fill {
  display: none;
}


.info {
  font-size: 20px;
  margin-top: -20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info p {
  align-self: flex-start;
  margin: 0;
  margin-top: -20px;
}


.buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #fe2b0d;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5%;
  font-size: 17px;
}

.button-text {
  margin-right: 5px; / Установите отступ между иконкой и текстом по вашему усмотрению /
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(106, 50, 159, 0.4);
  padding: 18px;
  text-align: center;
  z-index: 9999;
}

.like-btn {
  position: relative;
  left: -800px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  color: white;
}

.like-btn:hover {
  color:#fe2b0d;
  transition: 0.7s;
}

.back-btn {
  position: relative;
  left: -790px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  color: white;
}

.back-btn:hover {
  color: #fe2b0d;
  transition: 0.7s;
}

.play-pause-btn {
  position: relative;
  left: -780px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  color: white;
}

.play-pause-btn:hover {
  color: #fe2b0d;
  transition: 0.7s;
}

.next-btn {
  position: relative;
  left: -770px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  color: white;
}

.next-btn:hover {
  color: #fe2b0d;
  transition: 0.7s;
}

.price {
  background-color: black;
  padding: 10em;
  height: 170vh;
}

.image-block {
  margin-left: 500px;
}

.image-item {
  text-align: center;
  margin: 50px auto;
  max-width: 800px
}

.image-item .first {
  margin-left: -600px;
  margin-top: -100px;
}

.image-item .two {
  margin-right: -100px;
}

.image-item .three {
  margin-left: -600px;
}

.image-item img {
  width: 350px;
  height: 350px;
}

.image-item p {
  margin-top: 5px;
  color: white;
}

.text-block {
  text-align: center; /* Центрирование текста */
  margin-top: 10px; /* Отступ сверху */
}

.text-block p {
  font-size: 16px; /* Размер текста */
  color: white;
}

.text-block ul {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступ у списка */
}

.text-block li {
  margin: 5px 0; /* Отступы между пунктами списка */
  color: white;
}
.text-block {
  text-align: center; /* Центрирование текста */
  margin-top: 10px; /* Отступ сверху */
}

.text-block p {
  font-size: 16px; /* Размер текста */
}

.text-block ul {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступ у списка */
}

.text-block li {
  margin: 5px 0; /* Отступы между пунктами списка */
}


.footer {
  background-color: red;
  padding: 1em;
  text-align: center;
}

